In [1]:
#string
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [3]:
#tuple
my_dict = {('x', 1): 'hello', ('y', 2): 'world'}
print(my_dict[('x', 1)])

point1

In [4]:
#int and float
my_dict = {1: 'one', 2: 'two'}
print(my_dict[1])

one