In [2]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union = set1.union(set2)
print(union)

intersection = set1.intersection(set2)
print(intersection)

difference = set1.difference(set2)
print(difference)

symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [5]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')

In [4]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')